<script id="contact-item-template" type="text/x-handlebars-template">
  <li>{{contact.first_name}} {{contact.last_name}}
    <ul class='slide-down-info'>{{contact.email}}</ul>
    <ul class='slide-down-info'>{{contact.phone_number}}</ul>
  </li>
</script>